# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/
.venv/
ENV/
env.bak/
venv.bak/

# macOS files
.DS_Store

# Logs
*.log

# Django:
*.log
local_settings.py
db.sqlite3
media/

# Node modules (if using frontend dependencies)
node_modules/

# Environment variables
.env
.env.*

# IDE files
.vscode/
.idea/
